/* Stylesheet for Mathapalooza */

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  /* font families */
  --ff-title: "Zen Dots", Times;
  --ff-section: "Bebas Neue", Times;
  --ff-p: "Roboto Mono", Arial, Helvetica;
  /* font sizes */
  --fs-p: 1.5rem;
  --fs-title: 3rem;
  --fs-section: 2.5rem;
  /* font weights */
  --fw-p: 500;
}

body { 
  margin: 0;
  font-family: var(--ff-p);
  font-size: var(--fs-p);
  font-weight: var(--fw-p);
  text-align: center;
}

header {
  background-color: #838996; /* Roman Silver */
  padding: 0.5em 1em;
}

.title {
  font-family: var(--ff-title);
  font-size: var(--fs-title);
  color: #4b0082;
}

#header__text {
  font-size: 0.90rem;
  font-style: italic;
}

main {
  margin: 2em 0 2em 0;
}

.instructions {
  padding: 0.5em;
}

.section-title {
  font-family: var(--ff-section);
  font-size: var(--fs-section);
  letter-spacing: 2px;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

#list-rules {
  text-align: left;
}

.gamezone {
  background-color: #838996; /* Roman Silver */
  padding: 0.5em 1em;
  margin: 1em 0 2em 0;
}

#gamezone__points {
  font-family: var(--ff-title);
}

#gamezone__question--input {
  height: 2.5em;
}

button {
  border: none;
  background-color: #4b0082;
  color: #dcdcdc; /* Gainsboro */
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-family: var(--ff-section);
  font-size: 1rem;
  letter-spacing: 0.1em;
  border-radius: 10%;
  cursor: pointer;
}